@charset "UTF-8";

body{
    background-color: rgb(242, 246, 204);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: orangered;
    background-color: aliceblue;
}
h2{
    color: rgb(165, 37, 30);
}
p{
    text-align: justify;
}
